.vercel
.env
__pycache__
*.pyc
instance
.envrc
.venv
venv/
env/
ENV/
*.sqlite3
.DS_Store
.idea/
.vscode/
*.log
*.pot
*.pyc
__pycache__/
*.sqlite3
*.egg-info/
instance/
.pytest_cache/
celerybeat-schedule
celerybeat.pid
__init__